.header {
  margin-top: 45px;
}

@media screen and (max-width: 544px) {
  .header {
    margin-top: 28px;
    padding-left: 27px;
  }
  .header__logo {
    height: 24px;
    width: 126px;
  }
}

@media screen and (max-width: 878px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
