.modal {
  display: flex;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0.2s, opacity 0.2s linear;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  cursor: pointer;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.modal__container {
  margin: auto;
  padding: 36px;
  background-color: white;
  color: black;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 430px;
  cursor: default;
}
.modal__picture-container {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  cursor: default;
}

.modal__heading {
  margin: 0 0 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__form-input {
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}

.modal__form-input-invalid {
  border-bottom: #ff0000 solid 1px;
}
.modal__button-save {
  padding: 0;
  border-radius: 2px;
  margin-top: 48px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  height: 50.15px;
  cursor: pointer;
  border: none;
  transition: opacity 0.2s linear;
}

.modal__button-disabled {
  opacity: 0.2;
  background-color: white;
  color: black;
  border: 1px solid black;
  pointer-events: none;
}

.modal__button-save:hover {
  opacity: 0.6;
}

.modal__button-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  /* Using bottom and left here as calc with 100% and 5px allows for a height and width independent positioning */
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  height: 40px;
  width: 40px;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s linear;
}

.modal__button-close:hover {
  opacity: 0.6;
}
.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__caption {
  margin: 10px 0 0 0;
  font-size: 12px;
  line-height: 14px;
}

.modal__input-error {
  color: #ff0000;
  font-size: 12px;
  line-height: 15px;
  visibility: none;
}

.modal__input-error_active {
  visibility: visible;
}
@media screen and (max-width: 878px) {
  .modal__button-close {
    bottom: calc(100% + 13px);
    left: calc(100% - 26px);
    height: 26px;
    width: 26px;
  }
}

@media screen and (max-width: 800px) {
  .modal__container {
    width: 282px;

    padding: 22px;
  }
}
