.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 282px;
}
.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 25px 20px;
  background: white;
  color: black;
  border-radius: 0 0 10px 10px;
  max-width: 282px;
}

.card__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 0;
}

.card__button-delete {
  background: url("../images/trash.svg") no-repeat center;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 16px;
  transition: opacity 0.2s linear;
}
.card__button-delete:hover {
  opacity: 0.6;
}
.card__button-like {
  background: url("../images/like_inactive.svg") no-repeat center;
  background-size: contain;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.card__button-like-active {
  background: url("../images/like-active.svg");
}

.card__button-like:hover {
  opacity: 0.5;
}
